body{
    margin: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
}
#container{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    height: fit-content;
    background-color: #FFFEF1;
    border-left: 1px solid #f3f2eb;
    border-right: 1px solid #f3f2eb;
}
#logo{
    text-align: center;
    padding: 10px;
}
#logo img{
    max-width: 100%;
    height: auto;
}
.links:link{
    text-decoration: none;
    color: #FFFEF1;
}
.links:visited{
    color: #351700;
}
.links:hover{
    background-color: #883b00;
}
.links:active{
    color: rgb(94, 39, 94);
}
.foot:link{
    text-decoration: none;
    color: #FFFEF1;
}
.foot:visited{
    color: #053f46;
}
.foot:hover{
    background-color: #067683;
}
.foot:active{
    color: rgb(94, 39, 94);
}
#menubar{
    width: auto;
    background-color: #CF5800;
    margin: 5px -5px;
    padding: 0 5px;
    border-radius: 3px;
}
.menu{
    text-align: center;
    margin: 5px;
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    
}
.menu:hover{
    background-color: #fa8730;
    border-radius: 5px;
    padding: 5px;
    margin: 0 20px;
}
.knap{
    margin: 5px;
    padding: 0 5px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    background-color: #01BACE;
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    cursor: pointer;
}
.knap:hover{
    background-color: #01BACE;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
}
#fbillede{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px
}
.bluebox{
    padding: 10px;
    margin: 25px;
    margin-left: 30px;
    background-color: #01bace9a;
    width: 990px;
}
#velkommentekst{
    float: left;
    width: 60%;
    padding: 10px;
}
#velkommenbillede{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
.float{
    clear: both;
}
.orangebox{
    padding: 10px;
    margin: 25px;
    margin-left: 30px;
    background-color: #dd670ccb;
    width: 990px;
}
#infobillede{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
#gæsten{
    float: right;
    width: 25%;
    padding: 10px;
}
#zittans{
    float: right;
    width: 25%;
    padding: 10px;
}
#footer{
    width: auto;
    height: 130px;
    background-color: #01BACE;
    margin: 5px 0;
    padding: 15px;
    display: flex;
}
#ko1{
    width: 25%;
    padding: 10px;
}
#ko2{
    padding-top: 10px;
    flex-grow: 1;
}
#ko3{
    padding-top: 10px;
    flex-grow: 1;
}
#ko4{
    width: 25%;
}
#madbillede{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px
}
#morgenmad{
    float: left;
    width: 60%;
    padding: 10px;
}
#morgenbillede{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
#morgenmad2{
    float: right;
    width: 40%;
    padding: 10px;
}
#morgenbillede2{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
#aftensmad{
    float: left;
    width: 60%;
    padding: 10px;
}
#aftenbillede{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
#aftensmad2{
    float: right;
    width: 40%;
    padding: 10px;
}
#aftenbillede2{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
.some{
    width: 22px;
    height: 22px;
    padding: 10px;
}
#taktekst{
    float: left;
    width: 60%;
    padding: 10px;
    font-size: 22px;
}
#bordbillede{
    padding: 10px;
    width: 33%;
    padding-top: 20px;
    float: left;
}
#form1 form{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.bestil{
    width: 30%;
    padding: 10px;
}
#kommentar{
    width: 250px;
    height: 100px;
}
#submit{
    float: right;
    margin-right: 40px;
    margin-bottom: 30px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);   
}
.modal-content{
    background-color: #fefefe;
    margin:15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.ombygtekst{
        float: left;
        width: 60%;
        padding: 10px;
}
#form1 h2{
    margin-bottom: 0;
}
#footer input {
    margin-top: 5px;
}

.bestil p {
    margin-bottom: 5px;
}